@page "/music"
@using MightyPotato.PnP.Moodifier.Server.Audio.Services
@using MightyPotato.PnP.Moodifier.Server.Audio.Models
@using MightyPotato.PnP.Moodifier.Server.Components
@inject PlaylistService PlaylistService
@inject AudioPlaybackService PlaybackService

<PageTitle>Moodifier Music Player</PageTitle>
<div class="d-flex w-100 h-auto justify-content-between p-3 sticky-top">
    <div class="btn-group btn-group-lg d-inline-flex shadow">
        @if (_backStack.Count > 0)
        {
            <button type="button" class="btn btn-primary d-flex" @onclick="BackButtonClicked">
                <i class="material-symbols-outlined">arrow_back</i>
            </button>
            <button type="button" class="btn btn-secondary d-flex" @onclick="BackButtonClicked">
                <i class="material-symbols-outlined">home</i>
            </button>
        }
        else
        {
            <button type="button" class="btn btn-primary disabled d-flex" disabled>
                <i class="material-symbols-outlined">arrow_back</i>
            </button>
            <button type="button" class="btn btn-secondary disabled d-flex" disabled>
                <i class="material-symbols-outlined">home</i>
            </button>
        }
        <button type="button" class="btn btn-info d-flex" @onclick="RefreshButtonClicked">
            <i class="material-symbols-outlined">refresh</i>
        </button>
        <button type="button" class="btn btn-danger d-flex" @onclick="StopButtonClicked">
            <i class="material-symbols-outlined">stop_circle</i>
        </button>
    </div>
    @* <div class="flex-grow-1 d-flex fs-4 align-items-center"> *@
    @*     <i class="material-symbols-outlined">music_note</i> *@
    @*     <div class="ps-1 pe-1">></div> *@
    @*     @if (_playlistBeingPlayed != null) *@
    @*     { *@
    @*         <div class="ellipsize-left">@_playlistBeingPlayed.Path.Replace("/", " / ")</div> *@
    @*     } *@
    @* </div> *@


</div>
@if (_playlistStructure != null)
{
    <div class="container">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4">
            @foreach (var playlist in _current)
            {
                <div class="col">
                    @if (playlist.MusicFiles != null && playlist.MusicFiles.Count <= 0)
                    {
                        <Folder PlaylistElement="playlist" OnClickCallback="FolderClicked"></Folder>
                    }
                    else
                    {
                        <Playlist PlaylistElement="playlist" OnClickCallback="PlaylistClicked" IsPlaying="@(playlist == _playlistBeingPlayed)"></Playlist>
                    }
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="spinner-border align-content-center" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}

@code {
    private List<PlaylistElement>? _playlistStructure;

    private List<PlaylistElement> _current = null!;

    private PlaylistElement? _playlistBeingPlayed;

    private Stack<List<PlaylistElement>> _backStack = null!;

    protected override void OnInitialized()
    {
        Init();
    }

    private void Init()
    {
        _playlistStructure = PlaylistService.GetStructure();
        _backStack = new Stack<List<PlaylistElement>>();
        _current = _playlistStructure;
        _playlistBeingPlayed = PlaybackService.GetCurrentPlaylist();
        PlaybackService.PlaylistChanged += (sender, element) =>
        {
            _playlistBeingPlayed = element;
        };
    }

    private void FolderClicked(PlaylistElement element)
    {
        _backStack.Push(_current);
        _current = element.Children!;
    }

    private async Task PlaylistClicked(PlaylistElement element)
    {
        _playlistBeingPlayed = element;
        await PlaybackService.PlayFromPlaylistAsync(element.Path);
    }

    private void BackButtonClicked()
    {
        _current = _backStack.Pop();
    }

    private void StopButtonClicked()
    {
        _playlistBeingPlayed = null;
        PlaybackService.StopPlayback();
    }

    private void RefreshButtonClicked()
    {
        PlaylistService.Reload();
        Init();
    }

    private void HomeButtonClicked()
    {
        _backStack.Clear();
        _current = _playlistStructure!;
    }


}