@using MightyPotato.PnP.Moodifier.Server.Audio.Models
<div class="card w-100 playlist text-start @(IsPlaying ? "bg-success text-white" : "bg-dark text-white") shadow" style="margin-bottom:15px" @onclick="PlayPlaylist">
    <div class="card-header font-weight-bold d-flex w-100">
        <div>
            <i class="material-symbols-outlined folder-header-icon">queue_music</i>
        </div>
        <div class="ps-1 pe-1">
            >
        </div>
        <div class="ellipsize-left w-auto">
            @GetCardTitle()
        </div>
    </div>
    <div class="card-img-bottom w-100 playlist-image-container position-relative">
        <img class="playlist-image" src="@GetImagePath()"/>
        <i class="material-symbols-outlined center-icon">play_circle</i>
    </div>
</div>

@code {

    [Parameter]
#pragma warning disable CS8618
        public PlaylistElement PlaylistElement { get; set; }
#pragma warning restore CS8618
    
    [Parameter]
    public EventCallback<PlaylistElement> OnClickCallback { get; set; }

    [Parameter]
    public bool IsPlaying { get; set; }

    private async Task PlayPlaylist()
    {
        await OnClickCallback.InvokeAsync(PlaylistElement);
    }

    private string? GetCardTitle()
    {
        return PlaylistElement?.Path.Replace("/", " > ");
    }

    private string GetImagePath()
    {
        if (PlaylistElement.ImagePath != null && PlaylistElement.ImagePath.Length > 0)
        {
            return "/images/playlists" + PlaylistElement.ImagePath;
        }
        return "/images/placeholder/playlist_cover_placeholder.png";
    }

}